.hero-outer-dv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #000000;
  box-sizing: border-box;
  padding: 20px;
  /* border-radius: 0px 0px 50px 50px; */
  padding-top: 70px;
  overflow: hidden;
  height: 620px;
  border: 0px solid rgba(128, 128, 128, 0);
}

.hero-outer-dv-container video {
  position: absolute;
}

.hero-content-heading-sub-pic-text-container {
  max-width: 1200px;
  position: absolute;
  top: 50px;
}

.hero-div-cls-home {
  color: rgb(198, 209, 209);
  padding: 0px 0px 0px 0px;
}

.hero-div-cls-home h2 {
  font-size: 90px;
  padding: 0px;
  margin: 50px 0px 10px 0px;
  padding: 0px;
}

.hero-div-cls-home h3 {
  font-size: 35px;
  margin: -25px 0px 10px 0px;
  padding: 0px 5px;
  color: #9fa5a0;
}

.hero-div-cls-home h5 {
  width: 70%;
  word-spacing: 5px;
  font-size: 20px;
  padding: 0px 5px;
  margin: 10px 0px 20px 0px;
  font-weight: 500;
  color: #b9c0ba;
}

.span-sec-visi {
  color: #29b748;
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}
