.hero-div-cls-home {
  background-color: rgba(0, 255, 255, 0);
}

.span-sec-visi {
  color: blue;
}

/* for react animation */

.item {
  background-color: rgb(142, 36, 174);
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  width: 100%;
  min-width: 1200;
  justify-content: left;
}
