.client-all-carousel-container-out {
  width: 65%;
  min-width: 1200px;
  border-radius: 10px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-outer-div {
  background-color: rgb(30, 144, 144);
  width: 100%;
  overflow-x: hidden;
  border-radius: 0px;
  padding: 20px;
  height: 600px;
}

.carousel-cls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer-aro {
  cursor: pointer;
  margin: -30px;
  position: relative;
  z-index: 5;
}

.img-dir-left-for-right {
  transform: rotate(180deg);
  margin-left: -20px;
}

@media screen and (max-width: 1300px) {
  .client-all-carousel-container-out {
    min-width: 900px;
  }
}
@media screen and (max-width: 1000px) {
  .client-all-carousel-container-out {
    min-width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .client-all-carousel-container-out {
    min-width: 600px;
  }
  .pointer-aro {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .client-all-carousel-container-out {
    min-width: 600px;
  }
  .pointer-aro {
    display: none;
  }
}
