.brand-cntnr-all-dv-cnt {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.brand-cntnr-all-dv-cnt img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-handle-heading-cmplx-text {
  width: 250px;
  text-align: left;
  margin-right: 20px;
  margin-left: 10px;
}

.case-handle-heading-cmplx-text h4 {
  font-weight: 400;
  font-size: 20px;
}
