.Home-page-outer-component {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  padding: 10px 0px 0px 0px;
  color: white;
  overflow-x: hidden;
}

.banner-functions-and-features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cls-features-left-sec-all-features-container {
  margin: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 50%;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  position: relative;
}

.features-all-container-dv-flx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-for-func-right-of-features {
  margin: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 600px;
  width: 625px;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  position: relative;
}

.dual-banner-functions-container-h2 {
  font-weight: 500;
  margin: 0px;
  margin-top: 0px;
  width: 100%;
  /* background-color: #29b748; */
}

.bn-one-with-aim-one {
  margin: 10px;
  background-color: #111010;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
  position: relative;
}

.dv-contained-in-bnr {
  display: flex;
  padding: 30px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.section-dv-both {
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-dv-both img {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: left;
}

.section-dv-both h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 20px;
}

.section-dv-both h2 span {
  color: #29b748;
}

.section-dv-both p {
  text-align: left;
  font-size: 20px;
  margin: 0px;
  line-height: 30px;
  padding: 0px 20px 0px 0px;
  font-weight: 500;
}

.dv-hm-bar-grey-mid {
  background-color: #8d0b93;
  position: relative;
  width: 100%;
  height: 30px;
}

.ban-tech-stack {
  width: 65%;
}

.delivered-headig-text-above-clients {
  font-size: 35px;
  font-weight: 400;
}

.clients-heading-home-hm-cntnr-h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
}

.project-section-in-hme-home-cont {
  background-color: #000000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  text-align: center;
}

.in-lower-pannel-for-clr {
  color: #c7c0c0;
}

.lower-bnr-cls-projects {
  /* background-color: #960e0e53; */
  background-color: #ffffffe1;
  padding: 20px;
  height: 395px;
}

.left-btm-project-sec-cls {
  aspect-ratio: 19.5/9;
  border-radius: 5px;
  margin: 20px;
  width: 560px;
}

.h2-project-main-heading {
  color: #960e0e;
  font-size: 45px;
  font-weight: 400;
  margin: 10px 20px;
}

.clients-quote-ho-cntnr-p {
  color: black;
}
