.Home-page-outer-component {
  padding: 0px;
  padding-top: 600px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

.banner-functions-and-features-container {
  background-image: none;
  background-color: #8c0b9300;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.dual-banner-functions-and-features-container {
  display: flex;
}

.similar-background {
  background-image: linear-gradient(
    180deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  margin: 10px;
  height: 200px;
  box-shadow: rgba(226, 13, 198, 0.201) 0px 50px 200px 0px;
}

.dual-banner-functions-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.features-all-container-dv-flx {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.dual-banner-functions-container-h2 {
  font-weight: 400;
  margin-top: 0px;
}

.dual-banner-features-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.bn-one-with-aim-one {
  margin: 10px;
  height: 400px;
  background-color: #111010;
  display: flex;
  position: relative;
  width: 100%;
}

.bn-one-with-aim-one .img-cntnr {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bn-one-with-aim-one .img-cntnr img {
  width: 200px;
}

.txt-cntnr-h2-p {
  width: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  text-align: left;
  height: 100%;
}

.txt-cntnr-h2-p h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-cntnr-h2-p h2 span {
  color: #29b748;
}

.txt-cntnr-h2-p p {
  font-size: 20px;
  width: 95%;
}

.dv-hm-bar-grey-mid {
  background-color: #8d0b93;
  position: relative;
  width: 100%;
  height: 30px;
}

.ban-tech-stack {
  width: 65%;
}

.delivered-headig-text-above-clients {
  font-size: 35px;
  font-weight: 400;
}

.clients-heading-home-hm-cntnr-h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
}

.in-lower-pannel-for-clr {
  color: #c7c0c0;
}

.img-cntnr-in-personal-projects-top {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cd-cls-img-wide-ban-img {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 30/9;
  border-radius: 5px;
}

.lower-bnr-cls-projects {
  /* background-color: #960e0e53; */
  background-color: #ffffffe1;
  padding: 20px;
  height: 395px;
}

.left-btm-project-sec-cls {
  aspect-ratio: 19.5/9;
  border-radius: 5px;
  margin: 20px;
  width: 560px;
}

.h2-project-main-heading {
  color: #960e0e;
  font-size: 45px;
  font-weight: 400;
  margin: 10px 20px;
}

.clients-quote-ho-cntnr-p {
  color: black;
}
