.Home-page-outer-component {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  padding: 10px 0px 0px 0px;
  color: white;
  overflow-x: hidden;
  position: relative;
}

.banner-functions-and-features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-n-fun-cntn-r {
  display: flex;
  justify-content: center;
  width: 1250px;
}

.cls-features-left-sec-all-features-container {
  margin: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 50%;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  position: relative;
}

.features-all-container-dv-flx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-for-func-right-of-features {
  margin: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 600px;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  position: relative;
}

.dual-banner-functions-container-h2 {
  font-weight: 500;
  margin: 0px;
  margin-top: 0px;
  width: 100%;
  /* background-color: #29b748; */
}

.bn-one-with-aim-one {
  margin: 10px;
  background-color: #11101000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
  position: relative;
}

.dv-contained-in-bnr {
  display: flex;
  padding: 30px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.section-dv-both {
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-dv-both:nth-child(2) {
  background-color: #42dd9528;
  padding: 20px;
  border-radius: 10px;
}

.section-dv-both img {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: left;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 250px;
}

.section-dv-both h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 20px;
  line-height: 50px;
}

.section-dv-both h2 span {
  color: #29b748;
}

.section-dv-both p {
  text-align: left;
  font-size: 20px;
  margin: 0px;
  line-height: 30px;
  font-weight: 500;
}

.dv-hm-bar-grey-mid {
  background-color: #8d0b93;
  position: relative;
  width: 100%;
  height: 30px;
}

.ban-tech-stack {
  width: 65%;
}

.delivered-headig-text-above-clients {
  font-size: 35px;
  font-weight: 400;
}

.clients-heading-home-hm-cntnr-h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
}

.project-section-in-hme-home-cont {
  background-color: #000000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  text-align: center;
}

.in-lower-pannel-for-clr {
  color: #c7c0c0;
}

.lower-bnr-cls-projects {
  /* background-color: #960e0e53; */
  background-color: #ffffffe1;
  padding: 20px;
  height: 395px;
}

.left-btm-project-sec-cls {
  aspect-ratio: 19.5/9;
  border-radius: 5px;
  margin: 20px;
  width: 560px;
}

.h2-project-main-heading {
  color: #960e0e;
  font-size: 45px;
  font-weight: 400;
  margin: 10px 20px;
}

.clients-quote-ho-cntnr-p {
  color: black;
}

/* media */
@media screen and (max-width: 1300px) {
  .dv-contained-in-bnr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
  }

  .section-dv-both h2 {
    font-size: 32px;
    line-height: 45px;
  }
  .section-dv-both p {
    font-size: 16px;
    padding-right: 20px;
  }

  .section-dv-both img {
    width: 200px;
  }

  /* features */
  .features-n-fun-cntn-r {
    width: 900px;
  }

  .dual-banner-functions-container-h2 {
    font-size: 18px;
  }

  .cls-features-left-sec-all-features-container {
    margin: 8px 8px 0px 0px;
    padding: 20px;
    height: 500px;
  }
  .div-for-func-right-of-features {
    margin: 8px 0px 0px 8px;
    padding: 20px;
    height: 500px;
  }
  .flx-2 {
    height: 320px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .dv-contained-in-bnr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    position: relative;
  }
  .section-dv-both {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .section-dv-both:last-child {
    width: 750px;
    height: 350px;
  }

  .section-dv-both h2 {
    font-size: 40px;
    line-height: 45px;
    margin-top: 80px;
  }

  .section-dv-both p {
    font-size: 20px;
    padding-right: 20px;
    font-weight: 500;
  }

  .section-dv-both img {
    width: 80px;
    position: absolute;
    left: 35px;
    top: -160px;
  }

  /* features */
  .features-n-fun-cntn-r {
    width: 800px;
  }
  .dual-banner-functions-container-h2 {
    font-size: 15px;
  }

  .cls-features-left-sec-all-features-container {
    margin: 8px 8px 0px 0px;
    padding: 10px;
    height: 400px;
  }
  .div-for-func-right-of-features {
    margin: 8px 0px 0px 8px;
    padding: 0px;
    height: 400px;
  }
  .flx-2 {
    height: 315px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 850px) {
  .dv-contained-in-bnr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 430px;
    position: relative;
  }
  .section-dv-both {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .section-dv-both:last-child {
    width: 560px;
    height: 380px;
  }

  .section-dv-both h2 {
    font-size: 40px;
    line-height: 45px;
    margin-top: 80px;
  }
  .section-dv-both p {
    font-size: 20px;
    padding-right: 20px;
    font-weight: 500;
  }

  .section-dv-both img {
    width: 80px;
    position: absolute;
    left: 35px;
    top: -170px;
  }

  /* features */
  .features-n-fun-cntn-r {
    width: 600px;
    display: block;
  }

  .dual-banner-functions-container-h2 {
    font-size: 20px;
  }

  .cls-features-left-sec-all-features-container {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .div-for-func-right-of-features {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    height: 450px;
    max-width: 100%;
  }
  .flx-2 {
    height: 350px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 620px) {
  .dv-contained-in-bnr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 380px;
    position: relative;
  }

  .section-dv-both:last-child {
    width: 410px;
    height: 340px;
  }

  .section-dv-both h2 {
    font-size: 30px;
    line-height: 45px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .section-dv-both p {
    font-size: 16px;
    padding-right: 20px;
    font-weight: 500;
    line-height: 25px;
  }

  .section-dv-both img {
    width: 60px;
    position: absolute;
    left: 30px;
    top: -165px;
  }

  /* features */
  .features-n-fun-cntn-r {
    width: 450px;
    display: block;
  }

  .dual-banner-functions-container-h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .cls-features-left-sec-all-features-container {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(148, 56, 240);
    padding: 0px;
    background-image: none;
  }
  .div-for-func-right-of-features {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    height: 400px;
    max-width: 100%;
  }
  .flx-2 {
    height: 320px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 460px) {
  .dv-contained-in-bnr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 380px;
    position: relative;
  }

  .section-dv-both:last-child {
    width: 350px;
    height: 340px;
  }

  .section-dv-both h2 {
    font-size: 25px;
    line-height: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .section-dv-both p {
    font-size: 14px;
    padding-right: 20px;
    font-weight: 500;
    line-height: 25px;
  }

  .section-dv-both img {
    width: 60px;
    position: absolute;
    left: 30px;
    top: -160px;
  }

  /* features */
  .features-n-fun-cntn-r {
    width: 390px;
    display: block;
  }

  .dual-banner-functions-container-h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .cls-features-left-sec-all-features-container {
    margin: 20px 0px 0px 0px;
    height: 250px;
    background-image: none;
  }
  .div-for-func-right-of-features {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    height: 400px;
    max-width: 100%;
  }
  .flx-2 {
    height: 320px;
    padding-top: 5px;
  }
}
