.header-warning-strip-outer-contnr {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgb(224, 190, 21);
  font-size: 14px;
}

.warning-icon-header-strip {
  height: 22px;
  margin: 0px 10px;
}
