@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

:root {
  background-color: #000000;
  overflow-x: hidden;
}

.App {
  font-family: "Quicksand", "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
